.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.card {
  border: 2px solid black;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 470px;
}

.card-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.card-fields {
  font-weight: 600;
}

.required {
  color: red;
}

span {
  font-weight: 600;
}

input {
  font-weight: 400;
}

select {
  font-weight: 400;
  height: 30px;
}

option {
  font-weight: 400;
}

a {
  font-size: 1.1rem;
  font-weight: 600;
  color: blue;
}

a:visited {
  color: blue;
}

.button-15 {
  touch-action: manipulation;
  border-radius: 8px;
  border: 0;
  padding: 10px 16px;
  background-image: linear-gradient(to bottom, #84b709, #46a100);
  box-shadow: inset 0 -2px Rgb(0 0 0/0.2), 0 2px 4px Rgb(0 0 0/0.2);
  text-align: center;
  font-weight: 600;
  color: #fff;
  transition-property: transform, opacity;
  transition-duration: 0.4s, 0.2s;
  transition-timing-function: cubic-bezier(0.55, 1, 0.15, 1), ease-in-out;
}

.button-15:hover {
  transform: scale(103%);
}

.button-15:active:not(:disabled) {
  transform: scale(0.92);
}

.button-15:disabled {
  background-image: linear-gradient(to bottom, #9f9f9f, #848484);
  cursor: not-allowed;
}

.button-15:hover:disabled {
  transform: none;
}

.button-15:disabled {
  opacity: 0.4;
}
